header{
    background-color: white;
    padding: 10px;
 }
 h1 {
    margin: 0;
    
 }
 body{
    background-color:lightgray;
    margin: 0;
}

.post{
    background-color: white;
    margin-top: 50px;
    margin-bottom: 50px;
}
.post img{
    width: 100%;
}
.container{
    width: 600px;
    margin: auto;
    
}
.post h2, .post p, .post span{
    padding: 10px;
    margin: 0;
    ;
}
.post-header div:first-child{
    display: inline-block;
    width: 80%;
   
}
.post-header div:last-child{
    display: inline-block;
    width: 20%;
    text-align: right;
    color: grey;
}
